html {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
*, *:before, *:after {-webkit-box-sizing:inherit; -moz-box-sizing:inherit; box-sizing:inherit;}

body, html {height:100%; width:100%; margin:0; -webkit-font-smoothing:antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;}
body {background:#fff; color:#3e3f40; font: 300 16px/1.6 avertaregular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,Arial,sans-serif;}
body, p, h1, h2, h3 {margin:0; padding:0;}
sup {vertical-align:baseline; position:relative; top:-0.4em;}

#swag_banner {height:40px; z-index:1; position:relative; width:100%; background:#fff;}
#swag_footer {min-height:550px; z-index:1; position:relative; width:100%; background:#fff;}
#swag_footer-fpo {padding:25px;}

#holiday_mobile-fpo {padding:25px;}

@media only screen and (min-width: 1150px) {

#swag_banner {height:110px;}

}

@media only screen and (min-width: 1540px) {

#swag_banner {height:130px;}

}
