html {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
*, *:before, *:after {-webkit-box-sizing:inherit; -moz-box-sizing:inherit; box-sizing:inherit;}

body, html {height:100%; width:100%; margin:0; -webkit-font-smoothing:antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;}
body {background:#fff; color:#3e3f40; font: 300 16px/1.6 avertaregular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,Arial,sans-serif;}
body, p, h1, h2, h3 {margin:0; padding:0;}

#holiday_page {z-index:1; position:relative; width:100%; min-height: calc(100vh - 40px); font-family:'avertaregular', sans-serif;}

#holiday_mobile {z-index:1; position:relative; width:100%; padding:0 0 50px 0;}

#holiday_mobile-intro {z-index:1; position:relative; width:100%; background:#FFA051;}
#holiday_mobile-intro-text {z-index:1; position:relative; width:100%; padding:20px 15px; color:#fff;}
#holiday_mobile-intro-text h2 {margin:0 0 12px 0; padding:0; font-size:32px; line-height:40px; font-family:'avertaextrabold', sans-serif; font-weight:400;}
#holiday_mobile-intro-text p {margin:0 0 12px 0; padding:0; font-size:15px; line-height:26px; font-family:'avertabold', sans-serif; font-weight:400;}


#holiday_mobile-intro-image {}
#holiday_mobile-intro-image img {width:100%; height:auto;}

#holiday_mobile-accordions {background:#fff;}

.holiday_accordion {position:relative;}
.holiday_accordion:after {content:" "; display:block; position:absolute; bottom:0; left:15px; height:1px; background:#f2f2f2; width:calc(100% - 30px);}
/*.holiday_accordion:last-of-type:after {display:none;}*/

.accordion_toggle {}
.accordion_toggle-btn {display:block; width:100%; font-family:'avertaextrabold', sans-serif; color:#000; min-height:70px; padding:23px 15px; position:relative; font-size:20px; cursor:pointer; border:none; background:#fff; text-align:left;}
.accordion_toggle-btn svg {display:block; position:absolute; top:30px; right:15px;
transition: transform .25s ease-in-out;
}

.holiday_accordion.accordion_open .accordion_toggle-btn svg {
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
}

.accordion_content {margin:0; padding:0 0 15px 0; display:none; position:relative;}
.accordion_scene {}
.accordion_scene img {width:100%; height:auto;}
.accordion_list {padding:15px;}
.accordion_list ul {font-family:'avertaextrabold', sans-serif; color:#000; font-size:20px; line-height:30px; padding:0; margin:0 0 0 1em;}
.accordion_list ul li {margin:0 0 10px 0;}
.accordion_list ul li a {color:#000; text-decoration:none;}
.accordion_list ul li a:hover {color:#000; text-decoration:none;}
.accordion_list a.holiday_accordion-seemore {display:block; color:#00BFFF; text-decoration:underline; font-family:'avertaextrabold', sans-serif; font-size:20px; line-height:30px; text-align:right;}

#holiday_accordion-contact {}
#holiday_accordion-contact a {display:block; width:100%; font-family:'avertaextrabold', sans-serif; color:#000; min-height:70px; padding:23px 15px; position:relative; font-size:20px; background:#fff; text-align:left; text-decoration:none;}

#holiday_accordion-contact a svg {display:block; position:absolute; top:30px; right:15px;
-ms-transform:rotate(-90deg);
-webkit-transform:rotate(-90deg);
transform:rotate(-90deg);
}



#holiday_intro {z-index:1; position:relative; overflow:hidden; width:100%; display:none; background:#FFA051;
min-height:calc(100vh - 40px);
min-height: calc( (var(--vh, 1vh) * 100) - 40px );
}

#holiday_intro-splash {position:absolute; height:100%; width:100%; top:0; bottom:0; left:0; right:0; background:url("../images/splash_transparent.webp") center center no-repeat; background-size:auto 100%; z-index:1;}


#holiday_intro-section {width:100%; max-width:1700px; z-index:1; position:absolute; height:100%; top:0; bottom:0; left:50%; transform:translateX(-50%);}

#holiday_intro-left {width:41%; position:absolute; top:50%; left:3%; transform:translateY(-50%);}
#holiday_intro-left h2 {margin:0 0 50px 0; padding:0; font-family:'avertaextrabold',sans-serif; font-weight:400; font-size:85px; line-height:93px; color:#fff;}
#holiday_intro-left p {margin:0; padding:0; font-family:'avertaextrabold',sans-serif; font-weight:400; font-size:20px; line-height:30px;  color:#fff;}

#intro_launch-btn {
    background-color:#8056bf;
    border-color:#8056bf;
    border-width: 0;
    color: #fff;
    font-family: avertaextrabold,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,Arial,sans-serif;
    font-size: 1.25rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 30px;
    padding: 20px 80px;
    text-transform: capitalize;
    cursor:pointer;
    width:100%;
    max-width:420px;
    margin:50px 0 0 0;
}
#intro_launch-btn:hover {
    background-color:#a080cf;
    border-color:#a080cf;
}

#intro_launch-arrow {
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
	display:block;
	left: calc(50% - 50px);
    bottom:0;
	position: absolute;
	width:100px;
    z-index:9;
    cursor:pointer;
    height:44px;
    border:none;
    background-color:transparent;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

#holiday_slideshow-holder {z-index:1; position:relative; width:100%; display:none; min-height:100vh; min-height:calc( (var(--vh, 1vh) * 100) - 0px );}
#holiday_slideshow {z-index:1; position:relative; width:100%; min-height:100vh; min-height:calc( (var(--vh, 1vh) * 100) - 0px );}

.holiday_slide {z-index:1; position:relative; width:100%; min-height:100vh; min-height:calc( (var(--vh, 1vh) * 100) - 0px );}
.holiday_slide-img {z-index:1; position:absolute; width:100%; height:100%; left:0; right:0; top:0; bottom:0;}

#office_slide-img {background:#C1A293 url("../images/office.webp") center center no-repeat; background-size:contain;}
#adventure_slide-img {background:#BED09D url("../images/adventure.webp") center center no-repeat; background-size:contain;}
#wfh_slide-img {background:#B6A494 url("../images/wfh.webp") center center no-repeat; background-size:contain;}
#tradeshow_slide-img {background:#B8B8BE url("../images/tradeshow.webp") center center no-repeat; background-size:contain;}
#retreat_slide-img {background:#BEB5B2 url("../images/retreat.webp") center center no-repeat; background-size:contain;}
#gamenight_slide-img {background:#C19C70 url("../images/gamenight.webp") center center no-repeat; background-size:contain;}
#commute_slide-img {background:#DBD0C3 url("../images/commute.webp") center center no-repeat; background-size:contain;}
#closet_slide-img {background:#B4774F url("../images/closet.webp") center center no-repeat; background-size:contain;}
#final_slide-img {background:#FFA051;}

.holiday_slide-holder {z-index:1; width:100%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); max-width:100%; overflow:hidden;
height: 100vh;
height: calc(var(--vh, 1vh) * 100);
max-height: 100vh;
max-height: calc(var(--vh, 1vh) * 100);
}


.holiday_slide-img img {width:100%; height:auto;}

.circle {
  display:block;
  border-radius: 50%;
  border:#fff 1px solid;
  width:100%;
  height:100%;
  position: absolute;
  opacity: 0;
  animation: scaleIn 3s infinite ease-in-out;
left:0; 
top:0;
  
  
}

@keyframes scaleIn {
  from {
    transform: scale(1.0);
    opacity: .95;
  }
  to {
    transform: scale(3.0);
    opacity: 0;
  }
}

.slide_hit-holder {display:block; z-index:2; position:absolute; width:28px; height:28px;}

.slide_hit {display:block; width:20px; height:20px; border:1px #fff solid; border-radius:50%;
position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
}

.slide_hit:after {content:" "; display:block; position:absolute; visibility:hidden; height:56px; width:1px; background:#fff; bottom:18px; left:50%; transform:translate(-50%, 0); opacity:0;
transition:opacity 0.5s ease, visibility .5s ease;
}

.slide_btn-holder {display:block; visibility:hidden; position:absolute; border:1px solid #fff; padding:15px; text-align:center; color:#fff; z-index:-1; opacity:0;
transition:opacity 0.5s ease, visibility .5s ease;
}

.slide_btn-holder:before {content:" "; display:block; position:absolute; height:100%; width:100%; background:#000; top:0; bottom:0; left:0; right:0; opacity:.45; z-index:1}

.slide_btn-txt {position:relative; display:block; white-space:nowrap; z-index:2; text-align:left; font-size:16px; line-height:24px; font-family:'avertaextrabold', sans-serif; font-weight:400;}
.slide_btn {position:relative; display:block; z-index:2; white-space:nowrap; text-align:left;}
.slide_btn a {color:#fff; text-decoration:underline; font-size:13px; line-height:16px; font-weight:400;}

.slide_hit-holder.hovered {z-index:9;}
.slide_hit-holder.hovered .circle {display:none;}
.slide_hit-holder.hovered .pulsating-circle {display:none;}
.slide_hit-holder.hovered .slide_hit:after {opacity:1; visibility:visible; z-index:8;}
.slide_hit-holder.hovered .slide_btn-holder {opacity:1; visibility:visible; z-index:9;}

.holiday_slide-captions {position:absolute; left:0; right:0; bottom:0; padding:20px; color:#fff;}
.holiday_slide-captions:after {content:" "; clear:both; display:table;}
.slide_captions-left {float:left;}
.slide_captions-left strong {font-size:18px; line-height:40px; color:#fff; font-family:'avertaextrabold', sans-serif; font-weight:400;}
.slide_captions-left a.slide_captions-seemore {font-size:14px; line-height:40px; font-family:'avertaextrabold', sans-serif; font-weight:400; color:#fff; text-decoration:underline; display:inline-block; margin-left:6px;}
.slide_captions-right {float:right; text-align:right; font-size:14px; line-height:40px; font-family:'avertaextrabold', sans-serif; font-weight:400; color:#fff;}

/* ***** */
/* Office Scene */
/* ***** */

/* Hit 1 */
#office_hit1-holder {right:calc(27.25% - 14px); top:calc(57% - 14px);}
#office_btn1-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}


/* Hit 2 */
#office_hit2-holder {right:calc(19% - 14px); top:calc(41% - 14px);}
#office_btn2-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 3 */
#office_hit3-holder {right:calc(10.75% - 14px); top:calc(52% - 14px);}
#office_btn3-holder {top:78px; right:0; transform:translate(0, 0);}
#office_hit3-holder .slide_hit:after {top:100%; bottom:auto;}

/* Hit 4 */
#office_hit4-holder {right:calc(65% - 14px); top:calc(79% - 14px);}
#office_btn4-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 5 */
#office_hit5-holder {right:calc(71.5% - 14px); top:calc(61% - 14px);}
#office_btn5-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 6 */
#office_hit6-holder {right:calc(87% - 14px); top:calc(41% - 14px);}
#office_btn6-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

#office_hit6 {border-color:#a1a1a1;}
#office_hit6 .circle {border-color:#a1a1a1;}
#office_hit6-holder.hovered #office_hit6 {border-color:#fff;}

/* ***** */
/* Outdoor Scene */
/* ***** */

/* Hit 1 */
#adventure_hit1-holder {right:calc(58% - 14px); top:calc(44% - 14px);}
#adventure_btn1-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 2 */
#adventure_hit2-holder {right:calc(46% - 14px); top:calc(72% - 14px);}
#adventure_btn2-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 3 */
#adventure_hit3-holder {right:calc(15% - 14px); top:calc(55% - 14px);}
#adventure_btn3-holder {bottom:78px; right:0; transform:translate(0, 0);}

/* Hit 4 */
#adventure_hit4-holder {right:calc(77% - 14px); top:calc(70.25% - 14px);}
#adventure_btn4-holder {bottom:78px; left:0; transform:translate(0, 0);}

/* Hit 5 */
#adventure_hit5-holder {right:calc(26% - 14px); top:calc(36% - 14px);}
#adventure_btn5-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 6 */
#adventure_hit6-holder {right:calc(74% - 14px); top:calc(30% - 14px);}
#adventure_btn6-holder {top:78px; left:50%; transform:translate(-50%, 0);}
#adventure_hit6-holder .slide_hit:after {top:100%; bottom:auto;}


/* ***** */
/* Work From Home Scene */
/* ***** */

/* Hit 1 */
#wfh_hit1-holder {right:calc(85% - 14px); top:calc(60% - 14px);}
#wfh_btn1-holder {bottom:78px; left:0; transform:translate(0, 0);}

/* Hit 2 */
#wfh_hit2-holder {right:calc(71% - 14px); top:calc(41% - 14px);}
#wfh_btn2-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 3 */
#wfh_hit3-holder {right:calc(42% - 14px); top:calc(30% - 14px);}
#wfh_btn3-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

#wfh_hit3 {border-color:#a1a1a1;}
#wfh_hit3 .circle {border-color:#a1a1a1;}
#wfh_hit3-holder.hovered #wfh_hit3 {border-color:#fff;}

/* Hit 4 */
#wfh_hit4-holder {right:calc(64% - 14px); top:calc(83% - 14px);}
#wfh_btn4-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 5 */
#wfh_hit5-holder {right:calc(24% - 14px); top:calc(32% - 14px);}
#wfh_btn5-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 6 */
#wfh_hit6-holder {right:calc(10.5% - 14px); top:calc(52% - 14px);}
#wfh_btn6-holder {bottom:78px; right:0; transform:translate(0, 0);}

/* ***** */
/* Tradeshow Scene */
/* ***** */

/* Hit 1 */
#tradeshow_hit1-holder {right:calc(10% - 14px); top:calc(30% - 14px);}
#tradeshow_btn1-holder {bottom:78px; right:0; transform:translate(0, 0);}

/* Hit 2 */
#tradeshow_hit2-holder {right:calc(70% - 14px); top:calc(50% - 14px);}
#tradeshow_btn2-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 3 */
#tradeshow_hit3-holder {right:calc(57% - 14px); top:calc(72% - 14px);}
#tradeshow_btn3-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 4 */
#tradeshow_hit4-holder {right:calc(60% - 14px); top:calc(10% - 14px);}
#tradeshow_btn4-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 5 */
#tradeshow_hit5-holder {right:calc(30% - 14px); top:calc(40% - 14px);}
#tradeshow_btn5-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 6 */
#tradeshow_hit6-holder {right:calc(49% - 14px); top:calc(52% - 14px);}
#tradeshow_btn6-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 7 */
#tradeshow_hit7-holder {right:calc(42% - 14px); top:calc(62% - 14px);}
#tradeshow_btn7-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 8 */
#tradeshow_hit8-holder {right:calc(85% - 14px); top:calc(69% - 14px);}
#tradeshow_btn8-holder {bottom:78px; left:0; transform:translate(0, 0);}



/* ***** */
/* Retreat Scene */
/* ***** */

/* Hit 1 */
#retreat_hit1-holder {right:calc(81% - 14px); top:calc(29% - 14px);}
#retreat_btn1-holder {bottom:78px; left:0; transform:translate(0, 0);}

/* Hit 2 */
#retreat_hit2-holder {right:calc(71% - 14px); top:calc(19% - 14px);}
#retreat_btn2-holder {top:78px; left:50%; transform:translate(-50%, 0);}
#retreat_hit2-holder .slide_hit:after {top:100%; bottom:auto;}

/* Hit 3 */
#retreat_hit3-holder {right:calc(47% - 14px); top:calc(36% - 14px);}
#retreat_btn3-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 4 */
#retreat_hit4-holder {right:calc(20% - 14px); top:calc(62% - 14px);}
#retreat_btn4-holder {bottom:78px; right:0; transform:translate(0, 0);}

/* Hit 5 */
#retreat_hit5-holder {right:calc(47% - 14px); top:calc(87% - 14px);}
#retreat_btn5-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 6 */
#retreat_hit6-holder {right:calc(63% - 14px); top:calc(72% - 14px);}
#retreat_btn6-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* ***** */
/* Game Night Scene */
/* ***** */

/* Hit 1 */
#gamenight_hit1-holder {right:calc(73.5% - 14px); top:calc(34% - 14px);}
#gamenight_btn1-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 2 */
#gamenight_hit2-holder {right:calc(35.5% - 14px); top:calc(60% - 14px);}
#gamenight_btn2-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 3 */
#gamenight_hit3-holder {right:calc(9.5% - 14px); top:calc(45% - 14px);}
#gamenight_btn3-holder {bottom:78px; right:0; transform:translate(0, 0);}

/* Hit 4 */
#gamenight_hit4-holder {right:calc(60% - 14px); top:calc(49.5% - 14px);}
#gamenight_btn4-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 5 */
#gamenight_hit5-holder {right:calc(75.25% - 14px); top:calc(65% - 14px);}
#gamenight_btn5-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 6 */
#gamenight_hit6-holder {right:calc(41.5% - 14px); top:calc(35% - 14px);}
#gamenight_btn6-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 7 */
#gamenight_hit7-holder {right:calc(57.5% - 14px); top:calc(55.5% - 14px);}
#gamenight_btn7-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* ***** */
/* Commute Scene */
/* ***** */

/* Hit 1 */
#commute_hit1-holder {right:calc(82% - 14px); top:calc(83% - 14px);}
#commute_btn1-holder {bottom:78px; left:0; transform:translate(0, 0);}

/* Hit 2 */
#commute_hit2-holder {right:calc(66.5% - 14px); top:calc(85.5% - 14px);}
#commute_btn2-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 3 */
#commute_hit3-holder {right:calc(64% - 14px); top:calc(61% - 14px);}
#commute_btn3-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 4 */
#commute_hit4-holder {right:calc(50% - 14px); top:calc(72% - 14px);}
#commute_btn4-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 5 */
#commute_hit5-holder {right:calc(47.58% - 14px); top:calc(47% - 14px);}
#commute_btn5-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 6 */
#commute_hit6-holder {right:calc(32% - 14px); top:calc(26% - 14px);}
#commute_btn6-holder {top:78px; left:50%; transform:translate(-50%, 0);}
#commute_hit6-holder .slide_hit:after {top:100%; bottom:auto;}

/* Hit 7 */
#commute_hit7-holder {right:calc(31% - 14px); top:calc(58% - 14px);}
#commute_btn7-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* ***** */
/* Closet Scene */
/* ***** */

/* Hit 1 */
#closet_hit1-holder {right:calc(55% - 14px); top:calc(48.8% - 14px);}
#closet_btn1-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 2 */
#closet_hit2-holder {right:calc(70% - 14px); top:calc(51.5% - 14px);}
#closet_btn2-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 3 */
#closet_hit3-holder {right:calc(25% - 14px); top:calc(55% - 14px);}
#closet_btn3-holder {bottom:78px; right:0; transform:translate(0, 0);}

/* Hit 4 */
#closet_hit4-holder {right:calc(35.5% - 14px); top:calc(45% - 14px);}
#closet_btn4-holder {bottom:78px; left:50%; transform:translate(-50%, 0);}

/* Hit 5 */
#closet_hit5-holder {right:calc(85% - 14px); top:calc(78% - 14px);}
#closet_btn5-holder {bottom:78px; left:0; transform:translate(0, 0);}

/* Hit 6 */
#closet_hit6-holder {right:calc(43% - 14px); top:calc(30% - 14px);}
#closet_btn6-holder {top:78px; left:50%; transform:translate(-50%, 0);}
#closet_hit6-holder .slide_hit:after {top:100%; bottom:auto;}


/* Final Slide */
#final_holder-content {width:calc(100% - 100px); max-width:700px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); text-align:center;}
#final_holder-content h2 {margin:0 0 20px 0; padding:0; font-family:'avertaextrabold',sans-serif; font-weight:400; font-size:25px; line-height:30px; color:#fff;}
#final_holder-content p {margin:0; padding:0; font-family:'avertaextrabold',sans-serif; font-weight:400; font-size:16px; line-height:20px;  color:#fff;}

#final_slide-link {
    display:block;
    background-color:#8056bf;
    border-color:#8056bf;
    border-width: 0;
    color: #fff;
    font-family: avertaextrabold,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,Arial,sans-serif;
    font-size: 1.25rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    letter-spacing: normal;
    line-height: 30px;
    padding: 20px 80px;
    text-transform: capitalize;
    cursor:pointer;
    width:100%;
    max-width:420px;
    margin:20px auto 0 auto;
    text-decoration:none;
}
#final_slide-link:hover {
    background-color:#a080cf;
    border-color:#a080cf;
}







/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Main Slideshow Arrows */
#holiday_slideshow-arrows {position:absolute; top:50%; left:50%; transform:translateX(-50%); z-index:99;}
#holiday_slideshow-arrows .holiday_slideshow-prev {left:10px; position:absolute; top:-17px; background-color:transparent; border:none; cursor:pointer;}
#holiday_slideshow-arrows .holiday_slideshow-next {right:10px; position:absolute; top:-17px; background-color:transparent; border:none; cursor:pointer;}

#holiday_slideshow-arrows .holiday_slideshow-prev:hover {opacity:.5;}
#holiday_slideshow-arrows .holiday_slideshow-next:hover {opacity:.5;}

#holiday_nav-overlay {position:fixed; top:-1px; left:-1px; height:0; width:0; background-color:#000; opacity:0; z-index:1; display:block; cursor:pointer;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}
#holiday_nav-overlay.overlay {display:block; opacity:.50; top:0; bottom:0; left:0; right:0; height:auto; width:auto;}

/* Thumbnail Nav */
#holiday_nav-holder {width:100%; height:1px; position:absolute; bottom:0; left:50%; transform:translateX(-50%); z-index:99;}
#holiday_nav {width:100%; height:0; background-color:#fff; position:absolute; bottom:0; left:0; z-index:99;
transition: height .5s ease;
}

#holiday_nav-drawer {position:absolute; top:0; bottom:0; left:50%; transform:translateX(-50%); overflow:hidden;margin: 0 0 20px 0;}

#holiday_nav.arrow_down {height:332px;}

#holiday_nav-arrow {
	display:block;
	left: calc(50%);
    top:-65px;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width:100px;
    z-index:9;
    cursor:pointer;
    height:44px;
}

#holiday_nav-arrow-caption {position:absolute; top:20px; left:50%; transform:translate(-50%, 0); color:#fff; font-size:15px; text-align:center; white-space:nowrap; z-index:1}
#holiday_nav-arrow-caption #holiday_nav-discover {display:block;}
#holiday_nav-arrow-caption #holiday_nav-close {display:none;}

#holiday_nav.arrow_down #holiday_nav-arrow-caption #holiday_nav-discover {display:none;}
#holiday_nav.arrow_down #holiday_nav-arrow-caption #holiday_nav-close {display:block;}

#arrow-up {
	display:block;
	width:24px;
    margin:0 auto;    
    transition: transform .25s ease-in-out; 
}
#arrow-up img {width:100%; height:auto;}

#holiday_nav.arrow_down #arrow-up {
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
transform:rotate(180deg);
}


#drawer_header {height:100px; position:relative;}
#drawer_header h2 {margin:0; padding:0; font-size:32px; line-height:100px; font-family:'avertaextrabold', sans-serif; font-weight:400;}

#drawer_slideshow-arrows {position:absolute; top:36px; right:0;}
#drawer_slideshow-arrows .slick-arrow {width:28px; height:28px; background-color:transparent; border:none; cursor:pointer; padding:0;}
#drawer_slideshow-arrows .drawer_slideshow-prev {margin:0 10px 0 0;}
#drawer_slideshow-arrows .drawer_slideshow-next {margin:0 0 0 10px;}

#drawer_slideshow {height:232px; width:100%;}

#drawer_slideshow .slick-list {height:232px;}
#drawer_slideshow .slick-track {height:232px;}
#drawer_slideshow .slick-slide {height:232px;}
#drawer_slideshow .slick-dots {bottom:auto; top:-50px;}

.drawer_slide {width:415px; height:232px; float:left; margin:0 20px 0 0; cursor:pointer; position:relative;}

.drawer_slide-office {background:url("../images/office.webp") center center no-repeat; background-size:cover;}
.drawer_slide-adventure {background:url("../images/adventure.webp") center center no-repeat; background-size:cover;}
.drawer_slide-wfh {background:url("../images/wfh.webp") center center no-repeat; background-size:cover;}
.drawer_slide-tradeshow {background:url("../images/tradeshow.webp") center center no-repeat; background-size:cover;}
.drawer_slide-retreat {background:url("../images/retreat.webp") center center no-repeat; background-size:cover;}
.drawer_slide-gamenight {background:url("../images/gamenight.webp") center center no-repeat; background-size:cover;}
.drawer_slide-commute {background:url("../images/commute.webp") center center no-repeat; background-size:cover;}
.drawer_slide-closet {background:url("../images/closet.webp") center center no-repeat; background-size:cover;}
.drawer_slide-final {background:url("../images/final.jpg") center center no-repeat; background-size:cover;}

.drawer_slide:before {content:" "; display:block; position:absolute; top:0; bottom:0; left:0; right:0; background:#000; opacity:.55;}
.drawer_slide-number {display:block; position:absolute; top:3px; right:5px; color:#fff; font-size:12px;}
.drawer_slide-text {display:block; position:absolute; bottom:20px; left:10px; color:#fff; font-size:18px;}
.drawer_slide:after {content:" "; display:block; position:absolute; top:0; bottom:0; left:0; right:0; cursor:pointer;}

.drawer_slide.slick-current:before {display:none;}
.drawer_slide.slick-current .drawer_slide-number {display:none;}
.drawer_slide.slick-current .drawer_slide-text {display:none;}
.drawer_slide.slick-current:after {display:none;}


/* Media Queries */
@media only screen and (min-width:480px) {

}

@media only screen and (min-width: 720px) {

#holiday_mobile {display:none;}
#holiday_intro {display:block;}
#holiday_slideshow-holder {display:block;}

}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1024px) {

#final_holder-content h2 {margin:0 0 50px 0; font-size:85px; line-height:93px;}
#final_holder-content p {font-size:20px; line-height:30px;}
#final_slide-link {margin:50px auto 0 auto;}

}

@media only screen and (min-width: 1150px) {

#holiday_intro {
min-height: calc(100vh - 110px);
min-height: calc( (var(--vh, 1vh) * 100) - 110px );
}


}

@media only screen and (min-width: 1200px) {

.slide_captions-left strong {font-size:32px; line-height:40px;}
.slide_captions-left a.slide_captions-seemore {font-size:16px; line-height:40px;}
.slide_captions-right {font-size:16px; line-height:40px;}

}

@media only screen and (min-width: 1320px) {

}

@media only screen and (min-width: 1400px) {
 
}

@media only screen and (min-width: 1540px) {

#holiday_intro {
min-height: calc(100vh - 130px);
min-height: calc( (var(--vh, 1vh) * 100) - 130px );
}

}

@media only screen and (max-height:600px) {
/*
#holiday_mobile {display:block;}
#holiday_intro {display:none;}
#holiday_slideshow {display:none;}
*/

#holiday_intro-left h2 {margin:0 0 20px 0; font-size:25px; line-height:30px;}
#holiday_intro-left p {font-size:16px; line-height:20px;}
#intro_launch-btn {margin:20px 0 0 0;}


#final_holder-content h2 {margin:0 0 20px 0; font-size:25px; line-height:30px;}
#final_holder-content p {font-size:16px; line-height:20px;}
#final_slide-link {margin:20px auto 0 auto;}


}
