@font-face {
  font-family: 'avertaregular';
  src: url('../averta/averta-regular.woff2') format('woff2'),
       url('../averta/averta-regular.woff') format('woff'),
       url('../averta/averta-regular.ttf') format('truetype'),
       url('../averta/averta-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avertabold';
  src: url('../averta/averta-bold.woff2') format('woff2'),
       url('../averta/averta-bold.woff') format('woff'),
       url('../averta/averta-bold.ttf') format('truetype'),
       url('../averta/averta-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avertaextrabold';
  src: url('../averta/averta-extrabold.woff2') format('woff2'),
       url('../averta/averta-extrabold.woff') format('woff'),
       url('../averta/averta-extrabold.ttf') format('truetype'),
       url('../averta/averta-extrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}